<!DOCTYPE html>
<html>
<head>
    <title>EV Charging Station Finder</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">

    <div class="logo">
        ⚡ EV Charging station Finder
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        
        <a href="/features">Features</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="header-buttons">
        <a href="/login">Login</a>
        <a href="/register" class="register">Register</a>
    </div>

</header>

<body>

<div class="navbar">

<a href="/admin_dashboard">Dashboard</a>
<a href="/manage_users">Manage Users</a>
<a href="/manage_stations">Manage Stations</a>
<a href="/all_bookings">All Bookings</a>
<a href="/contact_messages">Contact Messages</a>
<a href="/reports">Reports</a>
<a href="/logout">Logout</a>

</div>

<div class="container">

<h1>Welcome Admin</h1>

<div class="cards">

<div class="card">
<h2>{{ total_users }}</h2>
<p>Total Users</p>
</div>

<div class="card">
<h2>{{ total_stations }}</h2>
<p>Total Stations</p>
</div>

<div class="card">
<h2>{{ total_bookings }}</h2>
<p>Total Bookings</p>
</div>

</div>

<div class="menu">

<a href="/manage_users">
<button>Manage Users</button>
</a>

<a href="/manage_stations">
<button>Manage Stations</button>
</a>

<a href="/all_bookings">
<button>View All Bookings</button>
</a>

<a href="{{ url_for('view_reviews') }}">
    <button>View Reviews</button>
</a>

<a href="/reports">
<button>Reports & Analytics</button>
</a>

<a href="/contact_messages">
    <button>Contact Messages</button>
</a>

</div>

      <a href="/admin_login" class="back-button">
    ← Back to Admin Login
</a>

</div>
<footer class="footer">

<div class="footer-content">

<div class="footer-section">

<h3>EV Charging Station Finder</h3>

<p>
Helping EV owners find nearby charging stations,
book slots online and save time.
</p>

</div>

<div class="footer-section">

<h3>Quick Links</h3>

<p><a href="/">Home</a></p>
<p><a href="/login">User Login</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/admin_login">Admin Login</a></p>

</div>

<div class="footer-section">

<h3>Contact Us</h3>

<p>📧 support@evfinder.com</p>

<p>📞 +91 9876543210</p>

<p>📍 Bengaluru, India</p>

</div>

</div>

<hr>

<p class="copyright">
@ 2026 EV Charging Station Finder & Booking System | All Rights Reserved by Yashashwini R.
</p>

</footer>
</body>
</html>