<!DOCTYPE html>
<html>
<head>
    <title>EV Charging Station Finder</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">

    <div class="logo">
        ⚡ EV Charging station Finder
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        
        <a href="/features">Features</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="header-buttons">
        <a href="/login">Login</a>
        <a href="/register" class="register">Register</a>
    </div>

</header>
<body>

<h2>Rate Charging Station</h2>

<form method="POST">

<label>Rating (1-5)</label>

<select name="rating">
    <option value="1">1 Star</option>
    <option value="2">2 Stars</option>
    <option value="3">3 Stars</option>
    <option value="4">4 Stars</option>
    <option value="5">5 Stars</option>
</select>

<label>Review</label>

<textarea name="review" rows="5" cols="40" required></textarea>

<br><br>

<button type="submit">Submit Review</button>

</form>
<footer class="footer">

<div class="footer-content">

<div class="footer-section">

<h3>EV Charging Station Finder</h3>

<p>
Helping EV owners find nearby charging stations,
book slots online and save time.
</p>

</div>

<div class="footer-section">

<h3>Quick Links</h3>

<p><a href="/">Home</a></p>
<p><a href="/login">User Login</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/admin_login">Admin Login</a></p>

</div>

<div class="footer-section">

<h3>Contact Us</h3>

<p>📧 support@evfinder.com</p>

<p>📞 +91 9876543210</p>

<p>📍 Bengaluru, India</p>

</div>

</div>

<hr>

<p class="copyright">
@ 2026 EV Charging Station Finder & Booking System | All Rights Reserved.
</p>

</footer>
</body>
</html>