<!DOCTYPE html>
<html>
<head>
    <title>EV Charging Station Finder</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">

    <div class="logo">
        ⚡ EV Charging station Finder
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        
        <a href="/features">Features</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="header-buttons">
        <a href="/login">Login</a>
        <a href="/register" class="register">Register</a>
    </div>

</header>
<body>

<h2>Customer Reviews</h2>

<table>
<tr>
    <th>Station ID</th>
    <th>User Email</th>
    <th>Rating</th>
    <th>Review</th>
    <th>Date</th>
</tr>

{% for review in reviews %}
<tr>

    <td>{{ review[0] }}</td>

    <td>{{ review[1] }}</td>

    <td>{{ review[2] }}/5 ⭐</td>

    <td>{{ review[3] }}</td>

    <td>{{ review[4] }}</td>

</tr>
{% endfor %}

</table>
<footer class="footer">

<div class="footer-content">

<div class="footer-section">

<h3>EV Charging Station Finder</h3>

<p>
Helping EV owners find nearby charging stations,
book slots online and save time.
</p>

</div>

<div class="footer-section">

<h3>Quick Links</h3>

<p><a href="/">Home</a></p>
<p><a href="/login">User Login</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/admin_login">Admin Login</a></p>

</div>

<div class="footer-section">

<h3>Contact Us</h3>

<p>📧 support@evfinder.com</p>

<p>📞 +91 9876543210</p>

<p>📍 Bengaluru, India</p>

</div>

</div>

<hr>

<p class="copyright">
@ 2026 EV Charging Station Finder & Booking System | All Rights Reserved by Yashashwini R.
</p>

</footer>
</body>
</html>